SERVICE_PROFILE=development
SERVICE_PORT=8080
SERVICE_NAME={{toLowerCase baseConfig.name}}-service

KUBERNETES_DISCOVERY_ENABLED=false

LOGGING_LEVEL_ROOT=INFO
LOGGING_LEVEL_SPRING_WEB=DEBUG
LOGGING_LEVEL_APP=DEBUG

HIBERNATE_DDL=update
ENABLE_HIBERNATE_SQL=false
ENABLE_HIBERNATE_FORMAT_SQL=false
DB_SCHEMA=public

{{> database-env}}

{{> auth-env}}

{{#if baseConfig.enableObservability}}
{{> observability-env SERVICE_NAME}}
{{/if}}

ENABLE_SWAGGER=true

EUREKA_CLIENT_ENABLED=false
EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://igrp-eureka:8761/eureka/
EUREKA_CLIENT_REGISTERWITHEUREKA=true
EUREKA_CLIENT_FETCHREGISTRY=true

SPRING_CLOUD_DISCOVERY_ENABLED=true
SPRING_CLOUD_GATEWAY_DISCOVERY_LOCATOR_ENABLED=true
SPRING_CLOUD_GATEWAY_DISCOVERY_LOCATOR_LOWER_CASE_SERVICE_ID=true

AUTH_JWT_ISSUER=http://localhost:8090/realms/quickstart