SERVICE_PROFILE=development
SERVICE_PORT=8080
SERVICE_NAME={{toLowerCase baseConfig.name}}-service

KUBERNETES_DISCOVERY_ENABLED=false

LOGGING_LEVEL_ROOT=INFO
LOGGING_LEVEL_SPRING_WEB=DEBUG
LOGGING_LEVEL_APP=DEBUG

HIBERNATE_DDL=update
ENABLE_HIBERNATE_SQL=false
ENABLE_HIBERNATE_FORMAT_SQL=false
DB_SCHEMA=public

{{> database-env}}

{{> auth-env}}

{{#if baseConfig.enableObservability}}
{{> observability-env SERVICE_NAME}}
{{/if}}

ENABLE_SWAGGER=true